body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;

}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Espaçamento interno do formulário */
    border: 1px solid #ddd; /* Opcional: para evidenciar o contorno do retângulo */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao redor do retângulo */
    background-color: #90ee90; /* Cor de fundo para diferenciar do restante da página */
}

label, input, button {
    margin-bottom: 10px;
    width: 100%; /* Faz com que os inputs e botões ocupem toda a largura do formulário */
}

input, button {
    text-align: center; /* Centraliza o texto dentro dos inputs e botões */
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}